<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Logging.Properties.Settings.Mongo_log" connectionString="mongodb://logger:Spis1Logger@ds040898.mongolab.com:40898/patientcarelog" />
    </connectionStrings>
</configuration>